.calculator{

    width: 300px;
    height: 375px;
    margin: 75px auto;
    background-color:bisque;
    border-radius: 5px;
    
}

.heading{

    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.display{


    width: 300px;
    height: 155px;
    
    

    padding-top: 50px;
    box-sizing: border-box;
    padding-right: 15%;
    padding-left: 40px;
    
    
}

p{

    
    height:45px;
    box-sizing: border-box;
    padding: 15px 5px;
   
    border: 1px solid black;
    
    text-align: end;
    border-radius: 5px;
}



.buttons{

     
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 40px;

}

.delete{

    padding: 0;
}

.clear{
    padding: 0;
}


 .equals{

    padding: 0 55px;
    
 }

 .dot {

    padding: 0 8px;
    
 }

 .subtract {

    font-size: 300;
 }


   